---
import Icon from 'astro-icon';
type Props = {
    links: {[key: string]: {href: string, icon: string, external?: boolean}}
};

const { links } = Astro.props;
---

<div class="flex flex-col gap-1 justify-center w-full">
    <div class="mt-4 mb-2">
        <!-- <div class="w-[20%] h-[3px] mx-auto bg-slate-700/10 text-transparent rounded-lg">-</div> -->
        <div class="w-[40%] h-[3px] mx-auto bg-slate-700/10 text-transparent my-[.1rem] rounded-lg">-</div>
        <div class="w-[20%] h-[3px] mx-auto bg-slate-700/10 text-transparent rounded-lg">-</div>
    </div>
    <div class="flex justify-center gap-3">
        {
            Object.entries(links).map(([name, info]) => (
                <a
                    href={info.href}
                    target="_blank"
                    title={`${name} ↗`}
                    class="hover:text-blue-300"
                >
                
                <Icon name={info.icon} class="w-6 h-6"/>
                </a>
            ))
        }
    </div>
</div>